/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$30_name = '30';
$30_x = 240px;
$30_y = 284px;
$30_offset_x = -240px;
$30_offset_y = -284px;
$30_width = 184px;
$30_height = 185px;
$30_total_width = 893px;
$30_total_height = 706px;
$30_image = '../images/sprites/sprites.png';
$30 = 240px 284px -240px -284px 184px 185px 893px 706px '../images/sprites/sprites.png' '30';
$arrow_name = 'arrow';
$arrow_x = 803px;
$arrow_y = 122px;
$arrow_offset_x = -803px;
$arrow_offset_y = -122px;
$arrow_width = 18px;
$arrow_height = 11px;
$arrow_total_width = 893px;
$arrow_total_height = 706px;
$arrow_image = '../images/sprites/sprites.png';
$arrow = 803px 122px -803px -122px 18px 11px 893px 706px '../images/sprites/sprites.png' 'arrow';
$b1_name = 'b1';
$b1_x = 0px;
$b1_y = 0px;
$b1_offset_x = 0px;
$b1_offset_y = 0px;
$b1_width = 382px;
$b1_height = 284px;
$b1_total_width = 893px;
$b1_total_height = 706px;
$b1_image = '../images/sprites/sprites.png';
$b1 = 0px 0px 0px 0px 382px 284px 893px 706px '../images/sprites/sprites.png' 'b1';
$b2_name = 'b2';
$b2_x = 0px;
$b2_y = 284px;
$b2_offset_x = 0px;
$b2_offset_y = -284px;
$b2_width = 240px;
$b2_height = 249px;
$b2_total_width = 893px;
$b2_total_height = 706px;
$b2_image = '../images/sprites/sprites.png';
$b2 = 0px 284px 0px -284px 240px 249px 893px 706px '../images/sprites/sprites.png' 'b2';
$b3_name = 'b3';
$b3_x = 382px;
$b3_y = 0px;
$b3_offset_x = -382px;
$b3_offset_y = 0px;
$b3_width = 381px;
$b3_height = 267px;
$b3_total_width = 893px;
$b3_total_height = 706px;
$b3_image = '../images/sprites/sprites.png';
$b3 = 382px 0px -382px 0px 381px 267px 893px 706px '../images/sprites/sprites.png' 'b3';
$logo_horizontal_name = 'logo-horizontal';
$logo_horizontal_x = 0px;
$logo_horizontal_y = 622px;
$logo_horizontal_offset_x = 0px;
$logo_horizontal_offset_y = -622px;
$logo_horizontal_width = 201px;
$logo_horizontal_height = 84px;
$logo_horizontal_total_width = 893px;
$logo_horizontal_total_height = 706px;
$logo_horizontal_image = '../images/sprites/sprites.png';
$logo_horizontal = 0px 622px 0px -622px 201px 84px 893px 706px '../images/sprites/sprites.png' 'logo-horizontal';
$logo_vertical_name = 'logo-vertical';
$logo_vertical_x = 763px;
$logo_vertical_y = 0px;
$logo_vertical_offset_x = -763px;
$logo_vertical_offset_y = 0px;
$logo_vertical_width = 130px;
$logo_vertical_height = 122px;
$logo_vertical_total_width = 893px;
$logo_vertical_total_height = 706px;
$logo_vertical_image = '../images/sprites/sprites.png';
$logo_vertical = 763px 0px -763px 0px 130px 122px 893px 706px '../images/sprites/sprites.png' 'logo-vertical';
$mouse_name = 'mouse';
$mouse_x = 763px;
$mouse_y = 122px;
$mouse_offset_x = -763px;
$mouse_offset_y = -122px;
$mouse_width = 40px;
$mouse_height = 67px;
$mouse_total_width = 893px;
$mouse_total_height = 706px;
$mouse_image = '../images/sprites/sprites.png';
$mouse = 763px 122px -763px -122px 40px 67px 893px 706px '../images/sprites/sprites.png' 'mouse';
$pointer_bottom_left_name = 'pointer-bottom-left';
$pointer_bottom_left_x = 285px;
$pointer_bottom_left_y = 533px;
$pointer_bottom_left_offset_x = -285px;
$pointer_bottom_left_offset_y = -533px;
$pointer_bottom_left_width = 285px;
$pointer_bottom_left_height = 89px;
$pointer_bottom_left_total_width = 893px;
$pointer_bottom_left_total_height = 706px;
$pointer_bottom_left_image = '../images/sprites/sprites.png';
$pointer_bottom_left = 285px 533px -285px -533px 285px 89px 893px 706px '../images/sprites/sprites.png' 'pointer-bottom-left';
$pointer_bottom_right_name = 'pointer-bottom-right';
$pointer_bottom_right_x = 424px;
$pointer_bottom_right_y = 284px;
$pointer_bottom_right_offset_x = -424px;
$pointer_bottom_right_offset_y = -284px;
$pointer_bottom_right_width = 297px;
$pointer_bottom_right_height = 89px;
$pointer_bottom_right_total_width = 893px;
$pointer_bottom_right_total_height = 706px;
$pointer_bottom_right_image = '../images/sprites/sprites.png';
$pointer_bottom_right = 424px 284px -424px -284px 297px 89px 893px 706px '../images/sprites/sprites.png' 'pointer-bottom-right';
$pointer_top_left_name = 'pointer-top-left';
$pointer_top_left_x = 0px;
$pointer_top_left_y = 533px;
$pointer_top_left_offset_x = 0px;
$pointer_top_left_offset_y = -533px;
$pointer_top_left_width = 285px;
$pointer_top_left_height = 89px;
$pointer_top_left_total_width = 893px;
$pointer_top_left_total_height = 706px;
$pointer_top_left_image = '../images/sprites/sprites.png';
$pointer_top_left = 0px 533px 0px -533px 285px 89px 893px 706px '../images/sprites/sprites.png' 'pointer-top-left';
$pointer_top_right_name = 'pointer-top-right';
$pointer_top_right_x = 424px;
$pointer_top_right_y = 373px;
$pointer_top_right_offset_x = -424px;
$pointer_top_right_offset_y = -373px;
$pointer_top_right_width = 285px;
$pointer_top_right_height = 89px;
$pointer_top_right_total_width = 893px;
$pointer_top_right_total_height = 706px;
$pointer_top_right_image = '../images/sprites/sprites.png';
$pointer_top_right = 424px 373px -424px -373px 285px 89px 893px 706px '../images/sprites/sprites.png' 'pointer-top-right';
$shadow_bottom_name = 'shadow-bottom';
$shadow_bottom_x = 240px;
$shadow_bottom_y = 469px;
$shadow_bottom_offset_x = -240px;
$shadow_bottom_offset_y = -469px;
$shadow_bottom_width = 451px;
$shadow_bottom_height = 9px;
$shadow_bottom_total_width = 893px;
$shadow_bottom_total_height = 706px;
$shadow_bottom_image = '../images/sprites/sprites.png';
$shadow_bottom = 240px 469px -240px -469px 451px 9px 893px 706px '../images/sprites/sprites.png' 'shadow-bottom';
$spritesheet_width = 893px;
$spritesheet_height = 706px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $30 $arrow $b1 $b2 $b3 $logo_horizontal $logo_vertical $mouse $pointer_bottom_left $pointer_bottom_right $pointer_top_left $pointer_top_right $shadow_bottom;
$spritesheet = 893px 706px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
