/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$30_name = '30';
$30_x = 672px;
$30_y = 284px;
$30_offset_x = -672px;
$30_offset_y = -284px;
$30_width = 184px;
$30_height = 185px;
$30_total_width = 1411px;
$30_total_height = 902px;
$30_image = '../images/sprites/sprites.png';
$30 = 672px 284px -672px -284px 184px 185px 1411px 902px '../images/sprites/sprites.png' '30';
$arrow_name = 'arrow';
$arrow_x = 1354px;
$arrow_y = 351px;
$arrow_offset_x = -1354px;
$arrow_offset_y = -351px;
$arrow_width = 18px;
$arrow_height = 11px;
$arrow_total_width = 1411px;
$arrow_total_height = 902px;
$arrow_image = '../images/sprites/sprites.png';
$arrow = 1354px 351px -1354px -351px 18px 11px 1411px 902px '../images/sprites/sprites.png' 'arrow';
$b1_name = 'b1';
$b1_x = 0px;
$b1_y = 483px;
$b1_offset_x = 0px;
$b1_offset_y = -483px;
$b1_width = 382px;
$b1_height = 284px;
$b1_total_width = 1411px;
$b1_total_height = 902px;
$b1_image = '../images/sprites/sprites.png';
$b1 = 0px 483px 0px -483px 382px 284px 1411px 902px '../images/sprites/sprites.png' 'b1';
$b2_name = 'b2';
$b2_x = 763px;
$b2_y = 483px;
$b2_offset_x = -763px;
$b2_offset_y = -483px;
$b2_width = 240px;
$b2_height = 249px;
$b2_total_width = 1411px;
$b2_total_height = 902px;
$b2_image = '../images/sprites/sprites.png';
$b2 = 763px 483px -763px -483px 240px 249px 1411px 902px '../images/sprites/sprites.png' 'b2';
$b3_name = 'b3';
$b3_x = 382px;
$b3_y = 483px;
$b3_offset_x = -382px;
$b3_offset_y = -483px;
$b3_width = 381px;
$b3_height = 267px;
$b3_total_width = 1411px;
$b3_total_height = 902px;
$b3_image = '../images/sprites/sprites.png';
$b3 = 382px 483px -382px -483px 381px 267px 1411px 902px '../images/sprites/sprites.png' 'b3';
$header_heading_name = 'header-heading';
$header_heading_x = 0px;
$header_heading_y = 0px;
$header_heading_offset_x = 0px;
$header_heading_offset_y = 0px;
$header_heading_width = 672px;
$header_heading_height = 483px;
$header_heading_total_width = 1411px;
$header_heading_total_height = 902px;
$header_heading_image = '../images/sprites/sprites.png';
$header_heading = 0px 0px 0px 0px 672px 483px 1411px 902px '../images/sprites/sprites.png' 'header-heading';
$logo_horizontal_name = 'logo-horizontal';
$logo_horizontal_x = 1153px;
$logo_horizontal_y = 284px;
$logo_horizontal_offset_x = -1153px;
$logo_horizontal_offset_y = -284px;
$logo_horizontal_width = 201px;
$logo_horizontal_height = 84px;
$logo_horizontal_total_width = 1411px;
$logo_horizontal_total_height = 902px;
$logo_horizontal_image = '../images/sprites/sprites.png';
$logo_horizontal = 1153px 284px -1153px -284px 201px 84px 1411px 902px '../images/sprites/sprites.png' 'logo-horizontal';
$logo_vertical_name = 'logo-vertical';
$logo_vertical_x = 135px;
$logo_vertical_y = 767px;
$logo_vertical_offset_x = -135px;
$logo_vertical_offset_y = -767px;
$logo_vertical_width = 130px;
$logo_vertical_height = 122px;
$logo_vertical_total_width = 1411px;
$logo_vertical_total_height = 902px;
$logo_vertical_image = '../images/sprites/sprites.png';
$logo_vertical = 135px 767px -135px -767px 130px 122px 1411px 902px '../images/sprites/sprites.png' 'logo-vertical';
$mouse_name = 'mouse';
$mouse_x = 1354px;
$mouse_y = 284px;
$mouse_offset_x = -1354px;
$mouse_offset_y = -284px;
$mouse_width = 40px;
$mouse_height = 67px;
$mouse_total_width = 1411px;
$mouse_total_height = 902px;
$mouse_image = '../images/sprites/sprites.png';
$mouse = 1354px 284px -1354px -284px 40px 67px 1411px 902px '../images/sprites/sprites.png' 'mouse';
$pointer_bottom_left_name = 'pointer-bottom-left';
$pointer_bottom_left_x = 1003px;
$pointer_bottom_left_y = 572px;
$pointer_bottom_left_offset_x = -1003px;
$pointer_bottom_left_offset_y = -572px;
$pointer_bottom_left_width = 285px;
$pointer_bottom_left_height = 89px;
$pointer_bottom_left_total_width = 1411px;
$pointer_bottom_left_total_height = 902px;
$pointer_bottom_left_image = '../images/sprites/sprites.png';
$pointer_bottom_left = 1003px 572px -1003px -572px 285px 89px 1411px 902px '../images/sprites/sprites.png' 'pointer-bottom-left';
$pointer_bottom_right_name = 'pointer-bottom-right';
$pointer_bottom_right_x = 856px;
$pointer_bottom_right_y = 284px;
$pointer_bottom_right_offset_x = -856px;
$pointer_bottom_right_offset_y = -284px;
$pointer_bottom_right_width = 297px;
$pointer_bottom_right_height = 89px;
$pointer_bottom_right_total_width = 1411px;
$pointer_bottom_right_total_height = 902px;
$pointer_bottom_right_image = '../images/sprites/sprites.png';
$pointer_bottom_right = 856px 284px -856px -284px 297px 89px 1411px 902px '../images/sprites/sprites.png' 'pointer-bottom-right';
$pointer_top_left_name = 'pointer-top-left';
$pointer_top_left_x = 1003px;
$pointer_top_left_y = 483px;
$pointer_top_left_offset_x = -1003px;
$pointer_top_left_offset_y = -483px;
$pointer_top_left_width = 285px;
$pointer_top_left_height = 89px;
$pointer_top_left_total_width = 1411px;
$pointer_top_left_total_height = 902px;
$pointer_top_left_image = '../images/sprites/sprites.png';
$pointer_top_left = 1003px 483px -1003px -483px 285px 89px 1411px 902px '../images/sprites/sprites.png' 'pointer-top-left';
$pointer_top_right_name = 'pointer-top-right';
$pointer_top_right_x = 856px;
$pointer_top_right_y = 373px;
$pointer_top_right_offset_x = -856px;
$pointer_top_right_offset_y = -373px;
$pointer_top_right_width = 285px;
$pointer_top_right_height = 89px;
$pointer_top_right_total_width = 1411px;
$pointer_top_right_total_height = 902px;
$pointer_top_right_image = '../images/sprites/sprites.png';
$pointer_top_right = 856px 373px -856px -373px 285px 89px 1411px 902px '../images/sprites/sprites.png' 'pointer-top-right';
$shadow_bottom_name = 'shadow-bottom';
$shadow_bottom_x = 672px;
$shadow_bottom_y = 469px;
$shadow_bottom_offset_x = -672px;
$shadow_bottom_offset_y = -469px;
$shadow_bottom_width = 451px;
$shadow_bottom_height = 9px;
$shadow_bottom_total_width = 1411px;
$shadow_bottom_total_height = 902px;
$shadow_bottom_image = '../images/sprites/sprites.png';
$shadow_bottom = 672px 469px -672px -469px 451px 9px 1411px 902px '../images/sprites/sprites.png' 'shadow-bottom';
$steps_name = 'steps';
$steps_x = 672px;
$steps_y = 0px;
$steps_offset_x = -672px;
$steps_offset_y = 0px;
$steps_width = 739px;
$steps_height = 284px;
$steps_total_width = 1411px;
$steps_total_height = 902px;
$steps_image = '../images/sprites/sprites.png';
$steps = 672px 0px -672px 0px 739px 284px 1411px 902px '../images/sprites/sprites.png' 'steps';
$testimonials_icon1_name = 'testimonials-icon1';
$testimonials_icon1_x = 0px;
$testimonials_icon1_y = 767px;
$testimonials_icon1_offset_x = 0px;
$testimonials_icon1_offset_y = -767px;
$testimonials_icon1_width = 135px;
$testimonials_icon1_height = 135px;
$testimonials_icon1_total_width = 1411px;
$testimonials_icon1_total_height = 902px;
$testimonials_icon1_image = '../images/sprites/sprites.png';
$testimonials_icon1 = 0px 767px 0px -767px 135px 135px 1411px 902px '../images/sprites/sprites.png' 'testimonials-icon1';
$spritesheet_width = 1411px;
$spritesheet_height = 902px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $30 $arrow $b1 $b2 $b3 $header_heading $logo_horizontal $logo_vertical $mouse $pointer_bottom_left $pointer_bottom_right $pointer_top_left $pointer_top_right $shadow_bottom $steps $testimonials_icon1;
$spritesheet = 1411px 902px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
